<div>
  <div>
    <h1>
     <%= @current_user.first_name %> <%= @current_user.last_name %>'s bookmarks
    </h1>
  </div>
</div>


<div>

    <form action="/insert_bookmark" method="post">
       <select name="query_movie_id" id="movie_id_box">

    <% @list_of_movies.each do |a_movie| %>

    <option value="<%= a_movie.id%>" >

    <%= a_movie.title %>

    </option>

    <% end %>
    </select>
      <button>
        Bookmark this movie!
      </button>
    </form>
 
</div>

<hr>

<table class="table" border="1">
  <tr>
    <th>
      Movie
    </th>

    <th>
      Created at
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_bookmarks.each do |a_bookmark| %>
  <tr>
    <th>
    <%= a_bookmark.movie.title %>
    </th>
     <th>
    <%= time_ago_in_words(a_bookmark.created_at) %>
    </th>
     <th>
    <a href="/delete_bookmark/<%= a_bookmark.id %>">
        Un-bookmark
    </th>

  </tr>
  <% end %>
</table>
