<h1>
  List of all directors
</h1>

<form action="/insert_director">
  <div>
    <label for="name_box">
      Name
    </label>

    <input placeholder="Juan Perez" type="text" id="name_box" name="query_name">
  </div>

  <div>
    <label for="dob_box">
      DOB
    </label>
  
    <input placeholder="2096" type="text" id="dob_box" name="query_dob">
  </div>

  <div>
    <label for="bio_box">
      Bio
    </label>

    <textarea placeholder="long bio..." id="bio_box" name="query_bio" rows="3"></textarea>
  </div>

  <div>
    <label for="image_box">
      Image
    </label>

    <input placeholder="Image URL" id="image_box" name="query_image">
  </div>


  <button>
    Add director
  </button>
</form>

<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_directors.each do |director| %>
  <tr>
    <td>
      <%= director.id %>
    </td>

    <td>
      <img src="https://robohash.org/<%= director.name %>">
    </td>

    <td>
      <%= director.name %>
    </td>

    <td>
      <%= director.dob %>
    </td>

    <td>
      <a href="/directors/<%= director.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
