<h1>
  List of all movies
</h1>

<form action="/insert_movie">
  <div>
    <label for="title_box">
      Title
    </label>

    <input placeholder="The Great Gatsby" type="text" id="title_box" name="query_title">
  </div>

  <div>
    <label for="year_box">
      Year
    </label>
  
    <input placeholder="2096" type="text" id="year_box" name="query_year">
  </div>

  <div>
    <label for="description_box">
      Description
    </label>

    <textarea placeholder="long description..." id="description_box" name="query_description" rows="3"></textarea>
  </div>

  <div>
    <label for="duration_box">
      Duration
    </label>

    <input placeholder="120" type="text" id="duration_box" name="query_duration">
  </div>

  <div>
    <label for="image_box">
      Image
    </label>

    <input placeholder="Image URL" id="image_box" name="query_image"></textarea>
  </div>

  <div>
    <label for="director_id_box">
      Director
    </label>

    <%# <input id="director_id_box" name="query_director_id"> %>
    <select id="director_id_box" name="query_director_id">
        <% Director.all.each do |director| %>
          <option value="<%= director.id %>">
            <%= director.name %>
          </option>
        <% end %>
    </select>
  </div>

  <button>
    Add movie
  </button>
</form>
<hr>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @list_of_movies.each do |a_movie| %>
  <tr>
    <td>
      <%= a_movie.id %>
    </td>

    <td>
      <img src="https://robohash.org/<%= a_movie.title %>?set=set4">
    </td>

    <td>
      <%= a_movie.title %>
    </td>

    <td>
      <%= a_movie.year %>
    </td>

    <td>
      <%= a_movie.director.name %>
    </td>

    <td>
      <a href="/movies/<%= a_movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
