<!DOCTYPE html>
<html>
  <head>
    <title>MSM SIGNIN</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
         <nav>
      <ul>
 
      <% session.fetch(:user_id) %>
      <% if session.fetch( :user_id) == nil  %>
         <li>
            <a href="/user_sign_in">
              Sign in
            </a>
          </li>
          <li>
            <a href="/user_sign_up">
              Sign up
            </a>
          </li>
        <%else%>
            <li>
            <a href="/user_sign_out">
              Sign out
            </a>
          </li>
          <li>
            <a href="/bookmarks">
              My bookmarks
            </a>
          </li>
                
            <% end %>
        <li>
          <a href="/">
            Home
          </a>
        </li>
      </ul>
    </nav>

<% if notice.present? %>
<div style="border: thin green solid; color: green">
<%= notice %>
</div>
<% end %>

<% if alert.present? %>
<div style="border: thin red solid; color: red">
<%= alert %>
</div>
<% end %>

    <%= yield %>

    <footer>
      <small>
        This product uses the TMDb API but is not endorsed or certified by TMDb.
      </small>
    </footer>

  </body>
 
</html>
